###############  .gitignore   ##################

###############  credentials  ##################
.lab/
cred/
keys/

###############  data files   ##################
data/
appdata/

###############  distro files  #################
site/
docs/site/
build/
.Python
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
docs/_build/
target/
node_modules/
.webassets-cache/
plugins/
hooks/

###############   IDE files   ##################
.~lock.*
.DS_STORE
.netbeans
nbproject
.idea
.node_history
__pycache__
*.so
tinker/

############## backup sync files ###############
desktop.ini
*.gdoc
.dropbox
Thumbs.db

#################  unit testing   #################
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

################# version control #################
.hgignore
.hg/
fitzroy/
imports/