{% extends "landing.html" %}
{% block content %}
<div id="content_container" class="container content-container-fill">
    <div id="content_row" class="row height-100">
        <div id="content_left" class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
        <div id="content_middle" class="col-lg-4 col-md-4 col-sm-6 col-xs-8 height-100">
            <div id="content_middle_row" class="row vertical-center-40">
                <div id="content_middle_column" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div id="message_icon" class="font-xl text-center padding-vertical-20">
                        <span id="map_icon" class="icon-map float-middle"></span>
                    </div>
                    <div id="message_text" class="text-center padding-vertical-10">
                        <div id="error_message">Page Not Found</div>
                        <div id="try_again_message">Try again.</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="content_right" class="col-lg-4 col-md-4 col-sm-3 col-xs-2"></div>
    </div>
</div>
{% endblock %}

