<!DOCTYPE html>
<html lang="en" >
<head>
    {% block head %}
    {% if page_details.contacts %}
    {% for key, value in page_details.contacts.items() %}
    <link rel="dns-prefetch" href="{{ value|e }}">
    {% endfor %}
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/simple-line-icons.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/lab.min.css') }}" type="text/css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    {% block link %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="description" content="{{ page_details.description }}">
    <meta name="format-detection" content="telephone=no">
    {% block viewport %}<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">{% endblock %}
    {% block meta %}{% endblock %}
    <title>{{ page_details.title }} : {{ page_details.subtitle }}</title>
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    <!-- Javascript Block -->
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/lab.js') }}"></script>
    {% block javascript %}{% endblock %}

  </body>
</html>
