<!DOCTYPE html>
<html lang="en" >
<head>
    {% block head %}
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    {% block link %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="lab-context" content="placeholder">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% block meta %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    {% block body %}
        {% block content %}
        {% endblock %}
    {% endblock %}

    <!-- Javascript Block -->
    {% block javascript %}{% endblock %}

  </body>
</html>
