<div id="welcome_icon" class="font-xl text-center padding-vertical-20">
	<span id="chemistry_icon" class="icon-chemistry float-middle"></span>
</div>
<div id="subscribe_form" title="Subscribe" class="form-line text-center">
	<label id="subscribe_label" for="subscribe_input" class="form-label">Subscribe to the newsletter:</label>
	<div class="form-control-inline">
		<input id="subscribe_input" type="text" autofocus class="form-control form-control-fill">
		<div id="subscribe_status" class="form-control form-control-auto">
			<span id="status_selector_error" class="icon-ban icon-overlay font-error" style="display: none;"></span>
			<a id="status_selector_success" href="javascript:void(0)" class="icon-arrow-right font-success"></a>
		</div>
	</div>
</div>