<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="center_contents" class="col-xs-12 text-center">
	<div id="chemistry_icon" class="h2 font-xl">
		<span id="chemistry_font" class="icon-chemistry"></span>
	</div>
	<div id="call_to_action" class="h4">
		To access your experiments, signin:
	</div>
	<div id="subscription_form" class="navbox-margin">
		<form class="form">
			<div class="form-group col-xs-12">
				<div class="input-group float-center">
					<input autofocus type="email" class="form-control" id="signin_email" placeholder="email" aria-describedby="signin_email_success">
					<input type="password" class="form-control" id="signin_password" placeholder="password">
				</div>
				<button type="submit" class="btn hide" id="signin_submit"></button>
			</div>
		</form>
	</div>
	<div id="password_reset" class="h6 small navbox-margin">
		<a href="#">Forgot your password?</a>
	</div>
	<div id="signup_link" class="h6 small navbox-margin">
		Don't have a labcoat yet? <a href="#">Signup here.</a>
	</div>
</div>
<div id="signin_form" class="hide">
    <div id="content_container" class="container">
        <div id="content_row" class="row vertical-center-80">
            <div id="content_left" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            </div>
            <div id="content_center" class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div id="center_row" class="row">
                    <div id="center_contents" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <div id="chemistry_icon" class="h2 font-xl">
                            <span id="chemistry_font" class="icon-chemistry"></span>
                        </div>
                        <div id="call_to_action" class="h4">
                            To access your experiments, signin:
                        </div>
                        <div id="call_to_action_form_row" class="row">
                            <div id="call_to_action_form_left_column" class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
                            </div>
                            <div id="call_to_action_form_middle_column" class="col-lg-6 col-md-6 col-sm-8 col-xs-10">
                                <form id="signin_form_fields" title="Signin Form" class="form-label">
                                    <div class="row form-line">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <label id="signin_email_label" for="signin_email_input" class="sr-only">Signin Email</label>
                                            <input id="signin_email_input" type="email" placeholder="email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row form-line">
                                        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 padding-right-0">
                                            <label id="signin_password_label" for="signin_password_input" class="sr-only">Signin Password</label>
                                            <input id="signin_password_input" type="password" placeholder="password" class="form-control">
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 padding-left-0">
                                            <button id="signin_form_submit" class="form-control text-right padding-right-10" type="submit">
                                                <span class="icon-arrow-right icon-success"></span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="password_reset" class="h6 small padding-vertical-10">
                            <a href="#">Forgot your password?</a>
                        </div>
                        <div id="signup_link" class="h6 small padding-vertical-10">
                            Don't have a labcoat yet? <a href="#">Signup here.</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content_right" class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            </div>
        </div>
    </div>
</div>
</body>
</html>