<div id="content_container_profile" class="container-fluid content-container">
	<section id="account_section_row" class="row section-row">
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<div id="account_settings_row" class="row form-line">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="user_account_title" class="form-label">
						<strong class="float-middle">Account</strong>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
			<div id="email_setting_row" class="row form-line">
				<div id="email_setting_field" class="form-label">
					<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
						<div id="user_email_key">
							<span class="float-middle">Email:</span>
						</div>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
						<form id="email_setting_form" title="Email Setting">
							<label id="email_setting_label" for="email_setting_input" class="sr-only">Generic Email Setting</label>
							<div class="form-control-inline">
								<input id="email_setting_input" type="email" autofocus placeholder="satoshi@bitcoin.org" class="form-control form-control-fill">
								<div id="email_setting_status" class="form-control form-control-auto">
									<span id="email_setting_status_error" class="icon-ban icon-error icon-overlay hide"></span>
									<span id="email_setting_status_success" class="icon-check icon-success"></span>
									<button id="email_setting_submit" class="sr-only"></button>
								</div>
							</div>
							<div class="row hide">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div id="email_settings_error_message" class="h6 small">
										Email Error Message
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
						<div id="email_setting_info" class="text-right">
							<a href="#" id="email_setting_info_icon" class="icon-info"></a>
						</div>
					</div>
				</div>
			</div>
			<div id="password_setting_row" class="row form-line">
				<div id="password_setting_field" class="form-label">
					<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
						<div id="password_setting_key">
							<span class="float-middle">Password:</span>
						</div>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
						<form id="password_setting_form" title="Password Setting">
							<label id="password_setting_label" for="password_setting_input" class="sr-only">Generic Password Setting</label>
							<div class="form-control-inline">
								<input id="password_setting_input" type="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;" class="form-control form-control-fill">
								<div id="password_setting_input_status" class="form-control form-control-auto">
									<span id="password_setting_input_status_error" class="icon-ban icon-error icon-overlay hide"></span>
									<span id="password_setting_input_status_success" class="icon-check icon-success"></span>
									<button id="password_setting_input_submit" class="sr-only"></button>
								</div>
							</div>
							<div class="row hide">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div id="password_settings_error_message" class="h6 small">
										Password Error Message
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
						<div id="password_setting_info" class="text-right">
							<a href="#" id="password_setting_info_icon" class="icon-info"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="bio_section_row" class="row section-row">
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<div id="bio_settings_row" class="row form-line">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="bio_settings_title" class="form-label">
						<strong class="float-middle">Bio</strong>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
			<div id="text_setting_row" class="row form-line">
				<div id="text_setting_field" class="form-label">
					<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
						<div id="text_setting_key">
							<span class="float-middle">Title:</span>
						</div>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
						<form id="text_setting_form" title="Text Setting">
							<div class="row">
								<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 padding-right-0">
									<label id="text_setting_label" for="text_setting_input" class="sr-only">Generic Text Setting</label>
									<input id="text_setting_input" type="text" placeholder="Creator of BitCoin" class="form-control">
								</div>
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 padding-left-0">
									<div id="text_setting_status" class="form-control form-control-status">
										<span id="text_setting_status_error" class="icon-ban icon-error icon-overlay hide"></span>
										<span id="text_setting_status_success" class="icon-check icon-success"></span>
										<button id="text_setting_submit" class="sr-only"></button>
									</div>
								</div>
							</div>
							<div class="row hide">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div id="text_settings_error_message" class="h6 small">
										Text Error Message
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
						<div id="text_setting_info" class="text-right">
							<a href="#" id="text_setting_info_icon" class="icon-info"></a>
						</div>
					</div>
				</div>
			</div>
			<div id="textarea_setting_row" class="row form-line">
				<div id="textarea_setting_field" class="form-label">
					<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
						<div id="textarea_setting_key">
							<span class="float-middle">Description:</span>
						</div>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
						<form id="textarea_setting_form" title="Textarea Setting">
							<div class="row">
								<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 padding-right-0">
									<label id="textarea_setting_label" for="textarea_setting_input" class="sr-only">Generic Textarea Setting</label>
									<textarea id="textarea_setting_input" class="form-control">Published white paper in late 2008 about a cryptographic technique called blockchain which can be used to secure the integrity of a decentralized digital currency.</textarea>
								</div>
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 padding-left-0">
									<button id="textarea_settings_submit" class="form-control form-control-status form-control-borderless" type="submit">
										<span class="icon-arrow-right icon-success"></span>
									</button>
								</div>
							</div>
							<div class="row hide">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div id="textarea_settings_error_message" class="h6 small">
										Textarea Error Message
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
						<div id="textarea_setting_info" class="text-right">
							<a href="#" id="textarea_setting_info_icon" class="icon-info"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="profile_section_row" class="row section-last">
		<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
			<div id="address_settings_row" class="row form-line">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="user_address_title" class="form-label">
						<strong class="float-middle">Address</strong>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
			<div id="name_first_setting_row" class="row form-line">
				<div id="name_first_setting_field" class="form-label">
					<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
						<div id="name_first_setting_key">
							<span class="float-middle">First Name:</span>
						</div>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
						<form id="name_first_setting_form" title="First Name Setting">
							<div class="row">
								<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 padding-right-0">
									<label id="name_first_setting_label" for="name_first_setting_input" class="sr-only">First Name Setting</label>
									<input id="name_first_setting_input" type="text" placeholder="Satoshi" class="form-control">
								</div>
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 padding-left-0">
									<div id="name_first_setting_status" class="form-control form-control-status">
										<span id="name_first_setting_status_error" class="icon-ban icon-error icon-overlay hide"></span>
										<span id="name_first_setting_status_success" class="icon-check icon-success"></span>
										<button id="name_first_setting_submit" class="sr-only"></button>
									</div>
								</div>
							</div>
							<div class="row hide">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div id="name_first_settings_error_message" class="h6 small">
										First Name Error Message
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
						<div id="name_first_setting_info" class="text-right">
							<a href="#" id="name_first_setting_info_icon" class="icon-info"></a>
						</div>
					</div>
				</div>
			</div>
			<div id="name_last_setting_row" class="row form-line">
				<div id="name_last_setting_field" class="form-label">
					<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
						<div id="name_last_setting_key">
							<span class="float-middle">Last Name:</span>
						</div>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
						<form id="name_last_setting_form" title="Last Name Setting">
							<div class="row">
								<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 padding-right-0">
									<label id="name_last_setting_label" for="name_last_setting_input" class="sr-only">Last Name Setting</label>
									<input id="name_last_setting_input" type="text" placeholder="Nakamoto" class="form-control">
								</div>
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 padding-left-0">
									<div id="name_last_setting_status" class="form-control form-control-status">
										<span id="name_last_setting_status_error" class="icon-ban icon-error icon-overlay hide"></span>
										<span id="name_last_setting_status_success" class="icon-check icon-success"></span>
										<button id="name_last_setting_submit" class="sr-only"></button>
									</div>
								</div>
							</div>
							<div class="row hide">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div id="name_last_settings_error_message" class="h6 small">
										Last Name Error Message
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
						<div id="name_last_setting_info" class="text-right">
							<a href="#" id="name_last_setting_info_icon" class="icon-info"></a>
						</div>
					</div>
				</div>
			</div>
			<div id="street_address_a_setting_row" class="row form-line">
				<div id="street_address_a_setting_field" class="form-label">
					<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
						<div id="street_address_a_setting_key">
							<span class="float-middle">Street Address A:</span>
						</div>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
						<form id="street_address_a_setting_form" title="Street Address A Setting">
							<div class="row">
								<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 padding-right-0">
									<label id="street_address_a_setting_label" for="street_address_a_setting_input" class="sr-only">Street Addres A Setting</label>
									<input id="street_address_a_setting_input" type="text" placeholder="1 Bitcoin Drive" class="form-control">
								</div>
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 padding-left-0">
									<div id="street_address_a_setting_status" class="form-control form-control-status">
										<span id="street_address_a_setting_status_error" class="icon-ban icon-error icon-overlay hide"></span>
										<span id="street_address_a_setting_status_success" class="icon-check icon-success"></span>
										<button id="street_address_a_setting_submit" class="sr-only"></button>
									</div>
								</div>
							</div>
							<div class="row hide">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div id="street_address_a_settings_error_message" class="h6 small">
										Street Address A Error Message
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
						<div id="street_address_a_setting_info" class="text-right">
							<a href="#" id="street_address_a_setting_info_icon" class="icon-info"></a>
						</div>
					</div>
				</div>
			</div>
			<div id="street_address_b_setting_row" class="row form-line">
				<div id="street_address_b_setting_field" class="form-label">
					<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
						<div id="street_address_b_setting_key">
							<span class="float-middle">Street Address B:</span>
						</div>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
						<form id="street_address_b_setting_form" title="Street Address B Setting">
							<div class="row">
								<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 padding-right-0">
									<label id="street_address_b_setting_label" for="street_address_b_setting_input" class="sr-only">Street Address B Setting</label>
									<input id="street_address_b_setting_input" type="text" placeholder="Partition Block 0x01" class="form-control">
								</div>
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 padding-left-0">
									<div id="street_address_b_setting_status" class="form-control form-control-status">
										<span id="street_address_b_setting_status_error" class="icon-ban icon-error icon-overlay hide"></span>
										<span id="street_address_b_setting_status_success" class="icon-check icon-success"></span>
										<button id="street_address_b_setting_submit" class="sr-only"></button>
									</div>
								</div>
							</div>
							<div class="row hide">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div id="street_address_b_settings_error_message" class="h6 small">
										Street Address B Error Message
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
						<div id="street_address_b_setting_info" class="text-right">
							<a href="#" id="street_address_b_setting_info_icon" class="icon-info"></a>
						</div>
					</div>
				</div>
			</div>
			<div id="city_setting_row" class="row form-line">
				<div id="city_setting_field" class="form-label">
					<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
						<div id="city_setting_key">
							<span class="float-middle">City:</span>
						</div>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
						<form id="city_setting_form" title="City Setting">
							<div class="row">
								<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 padding-right-0">
									<label id="city_setting_label" for="city_setting_input" class="sr-only">City Setting</label>
									<input id="city_setting_input" type="text" placeholder="Availability Zone A" class="form-control">
								</div>
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 padding-left-0">
									<div id="city_setting_status" class="form-control form-control-status">
										<span id="city_setting_status_error" class="icon-ban icon-error icon-overlay hide"></span>
										<span id="city_setting_status_success" class="icon-check icon-success"></span>
										<button id="city_setting_submit" class="sr-only"></button>
									</div>
								</div>
							</div>
							<div class="row hide">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div id="city_settings_error_message" class="h6 small">
										City Error Message
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
						<div id="city_setting_info" class="text-right">
							<a href="#" id="city_setting_info_icon" class="icon-info"></a>
						</div>
					</div>
				</div>
			</div>
			<div id="region_setting_row" class="row form-line">
				<div id="region_setting_field" class="form-label">
					<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
						<div id="region_setting_key">
							<span class="float-middle">Region:</span>
						</div>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
						<form id="region_setting_form" title="Region Setting">
							<div class="row">
								<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 padding-right-0">
									<label id="region_setting_label" for="region_setting_input" class="sr-only">Region Setting</label>
									<input id="region_setting_input" type="text" placeholder="AP-Southeast-1" class="form-control">
								</div>
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 padding-left-0">
									<div id="region_setting_status" class="form-control form-control-status">
										<span id="region_setting_status_error" class="icon-ban icon-error icon-overlay hide"></span>
										<span id="region_setting_status_success" class="icon-check icon-success"></span>
										<button id="region_setting_submit" class="sr-only"></button>
									</div>
								</div>
							</div>
							<div class="row hide">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div id="region_settings_error_message" class="h6 small">
										Region Error Message
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
						<div id="region_setting_info" class="text-right">
							<a href="#" id="region_setting_info_icon" class="icon-info"></a>
						</div>
					</div>
				</div>
			</div>
			<div id="postal_code_setting_row" class="row form-line">
				<div id="postal_code_setting_field" class="form-label">
					<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
						<div id="postal_code_setting_key">
							<span class="float-middle">Postal Code:</span>
						</div>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
						<form id="postal_code_setting_form" title="Postal Code Setting">
							<div class="row">
								<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 padding-right-0">
									<label id="postal_code_setting_label" for="postal_code_setting_input" class="sr-only">Postal Code Setting</label>
									<input id="postal_code_setting_input" type="text" placeholder="AES 256" class="form-control">
								</div>
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 padding-left-0">
									<div id="postal_code_setting_status" class="form-control form-control-status">
										<span id="postal_code_setting_status_error" class="icon-ban icon-error icon-overlay hide"></span>
										<span id="postal_code_setting_status_success" class="icon-check icon-success"></span>
										<button id="postal_code_setting_submit" class="sr-only"></button>
									</div>
								</div>
							</div>
							<div class="row hide">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div id="postal_code_settings_error_message" class="h6 small">
										Postal Code Error Message
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
						<div id="postal_code_setting_info" class="text-right">
							<a href="#" id="postal_code_setting_info_icon" class="icon-info"></a>
						</div>
					</div>
				</div>
			</div>
			<div id="country_setting_row" class="row form-line">
				<div id="country_setting_field" class="form-label">
					<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
						<div id="country_setting_key">
							<span class="float-middle">Country:</span>
						</div>
					</div>
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
						<form id="country_setting_form" title="Country Setting">
							<div class="row">
								<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 padding-right-0">
									<label id="country_setting_label" for="country_setting_input" class="sr-only">Country Setting</label>
									<input id="country_setting_input" type="text" placeholder="Internet" class="form-control">
								</div>
								<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 padding-left-0">
									<div id="country_setting_status" class="form-control form-control-status">
										<span id="country_setting_status_error" class="icon-ban icon-error icon-overlay hide"></span>
										<span id="country_setting_status_success" class="icon-check icon-success"></span>
										<button id="country_setting_submit" class="sr-only"></button>
									</div>
								</div>
							</div>
							<div class="row hide">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div id="country_settings_error_message" class="h6 small">
										Country Error Message
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
						<div id="country_setting_info" class="text-right">
							<a href="#" id="country_setting_info_icon" class="icon-info"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<div id="content_container_message" class="container content-container-fill hide">
	<div id="content_row" class="row height-100">
		<div id="content_left" class="col-lg-4 col-md-4 col-sm-3 col-xs-2">
		</div>
		<div id="content_middle" class="col-lg-4 col-md-4 col-sm-6 col-xs-8 height-100">
			<div class="row vertical-center-40">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="welcome_icon" class="font-xl text-center padding-vertical-20">
						<span id="chemistry_icon" class="icon-chemistry float-middle"></span>
					</div>
					<form id="subscribe_form" title="Subscribe" class="form-line text-center">
						<label id="subscribe_label" for="subscribe_input" class="form-label">Subscribe to the newsletter:</label>
						<div class="form-control-inline">
							<input id="subscribe_input" type="text" placeholder="email" autofocus class="form-control form-control-fill">
							<button id="subscribe_submit" class="form-control form-control-auto" type="submit"><span class="icon-arrow-right icon-success"></span>
							</button>
						</div>
					</form>
					<form id="search_bar_form" title="Search Bar" class="form-line hide">
						<label id="search_bar_label" for="search_bar_input" class="sr-only">Search</label>
						<div class="form-control-inline">
							<span class="icon-magnifier form-control form-control-auto"></span>
							<input id="search_bar_input" type="search" placeholder="search" autofocus class="form-control form-control-fill">
						</div>
						<button id="search_bar_submit" class="sr-only" type="submit">
						</button>
					</form>
				</div>
			</div>
		</div>
		<div id="content_right" class="col-lg-4 col-md-4 col-sm-3 col-xs-2">
		</div>
	</div>
</div>