<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="footer_chat" class="footer-chat hide">
    <div id="footer_chat_container" class="container-fluid">
        <div id="footer_chat_row" class="row vertical-bottom-50 chat-window">
            <div id="footer_right_column" class="col-xs-12">
                <div id="chat_window">
                    <dl id="chat_history" class="h6 small margin-bottom-0">
                        <dt>LabBot</dt>
                        <dd>Welcome to the laboratory. How can I help you?</dd>
                        <dt>User</dt>
                        <dd>
                            <form>
                                <div id="chat_user_form" class="form-group margin-bottom-10">
                                    <input autofocus type="search" class="form-control" id="chat_user_input" placeholder="eg. 'signin' or 'signup'">
                                </div>
                                <button type="submit" class="btn hide">Submit</button>
                            </form>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>