<form id="search_bar_form" title="Search Bar">
	<div class="row">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 padding-right-0">
			<span class="icon-magnifier form-control"></span>
		</div>
		<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 padding-left-0">
			<label id="search_bar_label" for="search_bar_input" class="sr-only">Search</label>
			<input id="search_bar_input" type="search" placeholder="search" class="form-control">
			<button id="search_bar_submit" class="sr-only" type="submit">
			</button>
		</div>
	</div>
</form>