<form id="text_setting_form" title="Text Setting">
	<div class="row">
		<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 padding-right-0">
			<label id="text_setting_label" for="text_setting_input" class="sr-only">Generic Text Setting</label>
			<input id="text_setting_input" type="text" placeholder="The Creator of BitCoin" class="form-control">
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 padding-left-0">
			<div id="text_setting_status" class="form-control text-right padding-right-10">
				<span id="text_setting_status_error" class="icon-ban icon-error icon-overlay"></span>
				<span id="text_setting_status_success" class="icon-check icon-success"></span>
				<button id="text_setting_submit" class="sr-only"></button>
			</div>
		</div>
	</div>
</form>